@import url('https://fonts.googleapis.com/css?family=Nunito');

*{margin: 0;
font-family: 'Nunito', sans-serif;
}
/*Estilos del Header*/
.header{
width:100%;
margin: auto; 	
}

.header{
	height:60px;
}

.header .contenedor{
    display: flex;
    justify-content: space-between;
	background: rgb(18, 67, 85);
}


.icon-menu{
    display: block;
	width: 40px;
	height: 40px;
	font-size: 30px;
	
	color:white;
	text-align: center;
    line-height: 40px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}
.Logo{
	color: white;
}

.logo, .icon-menu{
    margin: 5px; 
}

/*Estilos del menu*/

.nave{
    position: absolute;
    top: 50px;
    left:-100%;
    width: 100%;
	transition: all 0.4s;
}

.menu{
    padding: 0;
    margin: 0;
	list-style: none;
	background: rgba(18,67,85,0.8);
	height: 
	
}

.link-menu{
	display: block;
    padding: 20px;
	text-decoration: none;
	color:white;
}

.item-menu{
	border-bottom: 1px solid #fff;
	width: 100%;
}

.mostrar{
	left:0%;
}

/*Estilos del banner*/


.banner{
	margin-top: -60px;
	position: relative;
	z-index: -1000;
	margin-bottom: 5px;
}

.banner__img{
	width: 100%;
	height: 65%;
}


.banner .contenedor{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	width: 97%;
	color: #000;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	background: rgba(0, 0, 0, 0.6);
	color: white;
	padding: 8px 2px;
}

/*Estilos Acerca de*/


